
@using erpV2.Models.Classes
@model List<Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table class="table table-bordered" style="margin-top:20px">
    <tr>
        <th>ID</th>
        <th>Category Name</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
    @foreach(var k in Model)
    {
        <tr>
            <td>
                @k.CategoryID
            </td>
            <td>
                @k.CategoryName
            </td>
            <td><a href="/Category/DeleteCategory/@k.CategoryID" class="btn btn-danger">Delete</a></td>
            <td><a href="/Category/BringCategory/@k.CategoryID" class="btn btn-success">Update</a></td>
        </tr>
    }
    
</table>
<a href="/Category/AddCategory" class="btn btn-secondary">Add Category</a>



